@import "../_variables";

.external-reviews-list {
    height: calc(100% - 70px);
    overflow-y: auto;

    .list-item {
        position: relative;

        .item-inactive {
            color: $surface700;
            font-style: italic;
        }

        .item-action {
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        &:hover .item-action {
            opacity: 1;
        }

        .info-icons {
            position: absolute;
            left: 2px;
            top: 2px;
            display: flex;
            gap: 4px;
            font-size: 16px;
            color: #555;
        }
    }
}

.empty-list {
    font-style: italic;
    color: $surface700;
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.external-link-edit-dialog {
    .visitor-groups-list {
        max-height: 200px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }

    .field-group {
        padding-bottom: 16px;
    }

    .prolong {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
