@using EPiServer.Shell
@model Advanced.CMS.ApprovalReviews.ViewModel

@{
    Layout = "/CmsUIViews/Views/Shared/CommonLayout.cshtml";
}

@section header {
    <title>Advanced approval review</title>
}

@section mainContent
{
    <div id="admin-plugin-container" data-controller-url="@Model.ControllerUrl"></div>
    <script type="text/javascript" src="@Paths.ToClientResource("advanced-cms-approval-reviews", "ClientResources/dist/admin-plugin.js")"></script>
    <link rel="stylesheet" href="@Paths.ToClientResource("advanced-cms-approval-reviews", "ClientResources/dist/admin-plugin.css")"/>
}
