@use "../_variables" as *;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.review-overlay {
    position: absolute;
    top: 0;
    z-index: 1000;
    background-color: $reminder500;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.user-picker {
    position: absolute;
    left: 0;
    bottom: 0;
}
